body {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("https://uploads.codesandbox.io/uploads/user/7d0583f3-10e5-4205-9330-5b8f3bdb5e93/L8ds-backround.png");
  /*background-color: #212121;*/
}

.container {
  width: 500px;
  align-content: center;
  align-self: center;
  text-align: center;
}

label {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

input {
  font-family: Arial, Helvetica, sans-serif;
}
